{
  "presets": [
      ["@babel/env", {
          "loose": true,
          "spec": true,
          "targets": {
              "browsers": [
                  "last 3 Chrome versions",
                  "last 3 Firefox versions",
                  "Safari >= 7",
                  "Explorer >= 9",
                  "Edge >= 12",
                  "iOS >= 10",
                  "Android >= 6"
              ]
          },
          "useBuiltIns": "usage",
          "corejs": "3.1.4",
          "debug": false,
          "modules": false
      }]
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread"
  ],
  "comments": false
}
